.country-search {
   padding: 20px 0;


   .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;

    .full-with {
        width: 100%;
    }
   }
}

::ng-deep {
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
    width: 45px;
  }
    .mat-form-field .mat-form-field-flex{
      background: #525476 no-repeat;
      background: transparent;
      border: 1px solid #474a6a;
      border-radius: 1px;
      padding: 0;
      position: relative;
      z-index: 1;
      color: white;
    }

    .mat-input-element::placeholder{
      color: #656668;
   }

    [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
    width: 45px;
  }

}

